<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Smartdiary{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('public/css/jquery.mobile-1.4.0.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/css/jquery.mobile.datepicker.css') }}"/>
    <link rel="stylesheet" href="{{ asset('public/css/custom.css') }}"/>
    <script src="{{ asset('public/javascripts/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('public/javascripts/jquery.ui.datepicker.js') }}"></script>
    <script src="{{ asset('public/javascripts/jquery.mobile-1.4.0.min.js') }}"></script>
    <script src="{{ asset('public/javascripts/jquery.mobile.datepicker.js') }}"></script>
</head>

<body>
    <div data-role="page" id="smartdiary">
        <div data-role="header">
            <h1>{% block page_title %}{% endblock %}</h1>
            {% block header_buttons %}{% endblock %}
        </div>
        <div role="main" class="ui-content">
            {% block body %}{% endblock %}
        </div>
        <div data-role="footer"><h4>2012 - {{ "now"|date('Y') }} Progetto Edutainment</h4></div>
    </div>

    <script type="text/javascript">
        $( document ).on( 'pageinit','#smartdiary', function(event){
            if('localStorage' in window && window['localStorage'] == null)
            {
                alert('Attenzione! Il tuo browser non è supportato, utilizzane uno più recente!');
            }
        });
    </script>

    {% block javascripts %}{% endblock %}
</body>

</html>