{% extends '::base.html.twig' %}

{% block title %}Smartdiary - Studente{% endblock %}
{% block page_title %}Studente{% endblock %}

{% block header_buttons %}
    <a href="{{ path('smartdiary_smartdiary_smartdiary_new') }}" data-icon="plus" data-ajax="false">Diario</a>
    <div data-role="navbar">
        <ul>
            <li><a href="{{ path('smartdiary_smartdiary_smartdiarystudent_indexproblematicsituations') }}"
                   data-icon="grid" data-ajax="false">Problemi</a></li>
            <li><a href="#" data-icon="bars" class="ui-btn-active" data-ajax="false">Diari</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <ul data-role="listview">
        {% for smartdiary in smartdiaries %}
        <li><a href="{{ path('smartdiary_smartdiary_smartdiary_view', { 'id': smartdiary.id }) }}" data-ajax="false">
            Diario creato il {{ smartdiary.createdAt|date("d/m/Y") }} alle {{ smartdiary.createdAt|date("H:i") }}
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}