{% extends '::base.html.twig' %}

{% block title %}Smartdiary - Lista emozioni{% endblock %}
{% block page_title %}Lista emozioni{% endblock %}

{% block header_buttons %}
    <a href="{{ path('smartdiary_consequence_emotion_index') }}" data-icon="arrow-l"
       data-direction="reverse" data-ajax="false">Indietro</a>
{% endblock %}

{% block body %}
    <ul data-role="listview">
        {% if emotionList is defined %}
            {% for element in emotionList %}
            <li><a href="{{ path('smartdiary_consequence_emotion_newemotionstrenght',
                { 'slug' : element.slug }
                ) }}" data-ajax="false">
                <h3>{{ element.label }}</h3>
                </a>
            </li>
            {% endfor %}
        {% else %}
            <li><a href="{{ path('smartdiary_consequence_emotion_newpositiveemotionlist') }}" data-ajax="false">
                    <h3>Emozioni positive</h3>
                </a>
            </li>
            <li><a href="{{ path('smartdiary_consequence_emotion_newnegativeemotionlist') }}" data-ajax="false">
                    <h3>Emozioni negative</h3>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}