{% extends '::base.html.twig' %}

{% block title %}Smartdiary - Nuovo diario{% endblock %}
{% block page_title %}Nuovo diario{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/smartdiarysmartdiary/js/new.js') }}"></script>
{% endblock %}

{% block header_buttons %}
    <a href="{{ referrer }}" data-icon="arrow-l" data-direction="reverse" data-ajax="false">Indietro</a>
    <a href="#" data-icon="action" data-direction="reverse" data-ajax="false" onclick="saveSmartdiary();">Salva</a>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <ul data-role="listview">
        <li id="antecedent"><a href="{{ path('smartdiary_antecedent_antecedent_index') }}" data-ajax="false">Situazione antecedente</a></li>
        <li id="automatic_negative_thought"><a href="{{ path('smartdiary_automaticnegativethought_ant_index') }}" data-ajax="false">Pensieri automatici negativi</a></li>
        <li id="consequence"><a href="{{ path('smartdiary_consequence_consequence_index') }}" data-ajax="false">Conseguenze</a></li>
        <li id="apt"><a href="{{ path('smartdiary_alternativepositivethought_apt_index') }}" data-ajax="false">Pensieri alternativi funzionali</a></li>
        <li id="emotion-revaluation"><a href="{{ path('smartdiary_emotionrevaluation_emotionrevaluation_index') }}" data-ajax="false">Rivalutazione delle emozioni</a></li>
    </ul>
{% endblock %}