{% extends '::base.html.twig' %}

{% block title %}Smartdiary - Insegnante{% endblock %}
{% block page_title %}Insegnante{% endblock %}

{% block header_buttons %}
    <a href="{{ path('smartdiary_smartdiary_smartdiaryteacher_newproblematicsituation') }}" data-icon="plus" data-ajax="false">
        Problema
    </a>

    <a href="{{ path('smartdiary_smartdiary_smartdiaryteacher_newproblematicsituation') }}" data-icon="info" data-ajax="false">
        Esempi
    </a>

    <div data-role="navbar">
        <ul>
            <li><a href="#" data-icon="grid" data-ajax="false" class="ui-btn-active" >Problemi</a></li>
            <li><a href="{{ path('smartdiary_smartdiary_smartdiaryteacher_indexstudents') }}"
                   data-icon="user" data-ajax="false">Studenti</a>
            </li>
            <li><a href="{{ path('smartdiary_smartdiary_smartdiaryteacher_indexteachersmartdiaries') }}" data-icon="bars" data-ajax="false">Diari</a></li>
        </ul>
    </div>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <ul data-role="listview">
        {% for userProblematicSituation in userProblematicSituations %}
        <li><a href="{{ path('smartdiary_smartdiary_smartdiaryteacher_indexstudentsproblematicsituation', { 'slug' : userProblematicSituation.slug }) }}"
               data-ajax="false">{{ userProblematicSituation.title }}
                <span class="ui-li-count">{{ userProblematicSituation.smartdiaries.count }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}